/*Global*/

:root {
	--bg-body123: #151515;
	--bg-contact: #242424;
	--accent: #4ee1a0;
	--text1: #ffffff;
	--text2: #d9d9d9;
	--invalid: #ff6f5b;
	--fs-18: 1.125rem;
	--fs-88: 5.5rem;
	--fs-72: 4.5rem;
	--fs-40: 2.5rem;
	--fs-36: 2.25rem;
	--fs-48: 3rem;
	--fs-24: 1.5rem;
	--fs-20: 1.25rem;
	--container: 69.375rem;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Space Grotesk', sans-serif;
	background-color: var(--bg-body123) !important;
	color: var(--text1) !important;
	font-size: var(--fs-18);
	line-height: 1.56;
	/* padding-bottom: 30rem; */
}

h1,
h2,
h3,
p {
	margin-top: 0;
}

h1,
h2,
h3,
p {
	line-height: 1;
}

h1 {
	font-size: 2.2rem;
	font-size: clamp(2.2rem, 0.7rem + 7.6vw, 5.5rem);
}

p {
	font-size: 1rem;
	font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
	line-height: 1.5;
	color: var(--text2);
}

.custom_text {
	transition: color 350ms ease-in-out;
}

a.underline {
	display: inline-block;
	padding-bottom: 0.625px;
	font-size: 0.7rem;
	line-height: 1.625;
	font-weight: 700;
	letter-spacing: 2.29px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--text1);

	background-image: linear-gradient(to right, var(--accent) 75%, var(--accent) 75%);
	background-position: 0 2.1em;
	background-repeat: repeat-x;
	background-size: 8px 2px;
}

.custom_text:hover {
	color: var(--accent) !important;
}

.cv-btn:hover {
	border: 5px soild var(--accent);
}

.header_nav > a {
	text-decoration: none;
	color: var(--text1) !important;
}

.header_nav a {
	position: relative;
	text-decoration: none;
}

.header_nav a::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--accent); /* Change this to the desired underline color */
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.header_nav a:hover::after {
	transform: scaleX(1);
}

/*.Header Section */

.header_home {
	font-size: clamp(1.2rem, 1.02rem + 2.04vw, 1.8rem); /*using fluid typography calculator tool*/
	line-height: 1;
	color: var(--text1);
	text-decoration: none;
}

.span {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.social-img img {
	display: block;
}
/*hidden*/
.visuallyhidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/*.
       Hero Section
                            */
.hero_wrapper {
	padding-bottom: 80px;
	border-bottom: 1px solid var(--text2);
}

.hero__image {
	outline: 4px solid var(--accent);
	/* background-image: url('img/me.png'); */
	display: block;
	width: 350px;
	height: auto;
	/*box-shadow: inset 0 0 0 9px rgb(203, 37, 37);*/
	order: 1;
	animation: profile_animate 10s ease-in-out infinite -5s;
}
@keyframes profile_animate {
	0% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}
.hero__text {
	position: relative;
	text-align: center;
}

.hero__headline {
	margin-bottom: 20px;
	/*border: 5px solid red;*/
}

.hero__headline > br {
	display: none;
}
h1 > span {
	background-image: linear-gradient(to right, var(--accent) 75%, var(--accent) 75%);
	background-position: 0 1.2em;
	background-repeat: repeat-x;
	background-size: 8px 4px;
}

.hero__description {
	margin-bottom: 15px;
}
.hero__headline > br {
	display: inline-block;
}

/*******/

/* PROJECTS */

.projects__picture {
	display: block;
	margin-block-end: 20px;
}

/*.projects__image {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

.projects__image {
	border-radius: 20px;
	margin-top: 40px;
	width: 350px;
	height: auto;
}

/* CONTACT */

.contact {
	position: relative;
}

.contact__wrapper {
	padding-block: 84px;
}

.contact__headline {
	margin-block-end: var(--fs-20);
}

.contact__control {
	position: relative;
	margin-block-end: 16px;
}

.contact__control input,
.contact__control textarea {
	width: 100%;
	padding-block: 16px;
	padding-inline: 24px;
	border: none;
	border-bottom: 1px solid var(--text1);
	background: transparent;
	font-size: 1rem;
	line-height: 1.625;
	color: var(--text1);
}

.contact__control > *::placeholder {
	color: var(--text1);
	opacity: 0.5;
	text-transform: uppercase;
}

.contact__control textarea {
	margin-block-end: 32px;
}

.contact__control.align-right {
	display: flex;
	justify-content: flex-end;
}

.contact__control button {
	background-color: transparent;
	border: none;
}

.contact__invalid-icon {
	display: none;
	width: var(--fs-24);
	height: var(--fs-24);
	position: absolute;
	top: 50%;
	right: 0;
	translate: -50% -50%;
}

.contact input:focus-visible:invalid ~ .contact__invalid-icon,
.contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
	display: inline-block;
}

@media (min-width: 37.5em) {
	.contact__rings {
		bottom: 47px;
		translate: -75%;
	}
}

@media (min-width: 62.5em) {
	.contact__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 27.8rem);
		justify-content: space-between;
	}

	.contact__headline {
		margin-block-end: var(--fs-36);
	}

	.contact__rings {
		translate: -40%;
	}
}

/* 999.98px */
@media (max-width: 62.49875em) {
	.contact__wrapper {
		max-width: 27.8rem;
	}

	.contact__text {
		text-align: center;
	}
}

footer {
	padding-block: 40px 60px;
}

@media (min-width: 37.5em) {
	footer {
		padding-block: 30px 40px;
	}
}

@media (min-width: 62.5em) {
	footer {
		padding-block: 47px 92px;
	}
}

picture > img {
	height: clamp(300px, 30vw, 100);
}

.pro-des {
	text-align: justify;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.hero__image {
		width: 60%;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/* FOOTER */
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: var(--bg-contact);
	color: #969da5;
	font-size: 15px;
	text-align: center;
	padding: 30px 0;
	margin-bottom: 10px;
}

#footer h3 {
	font-size: 25px;
	font-weight: 700;
	position: relative;
	font-family: 'Space Grotesk', sans-serif;
	padding: 0;
	margin: 0 0 15px 0;
}

#footer p {
	font-size: 10;
	padding: 0;
	margin: 0 0 40px 0;
}

#footer .social-links {
	margin: 0 0 40px 0;
}

#footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: rgb(42, 43, 42);
	color: #fff;
	line-height: 1;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .social-links a:hover {
	background: #58595b;
	color: #201f1f;
	text-decoration: none;
}
